




h1 {margin: 0 0 1em 0; font-size: 2.8em; fond-weight: 700; }
h2 {margin: 0 0 .5em 0; font-size: 1.6em; fond-weight: 700; line-height: 1.1em; }
h3 {margin: 0 0 .5em 0; font-size: 1.3em; fond-weight: 700; }
h4 {margin: 0 0 1.5em 0; font-size: 1em; fond-weight: 700; }
      
	p{ margin: 0 0 1em 0;}
	a { color:#007eff; }
	a:visited { color: #65b1ff; }
/*Formato del encabezado*/
header div.TextoHeader{
	position:absolute;
	width:62%;
	top:85px;
    

   
}
#estilo{
    position:absolute;
	width:62%;
	top:85px;
    
    
}
#estilo h1{
    color:rgba(54, 54, 56, 0.96);
	line-height:1em;
	margin: 0 0 30px 0;
}
#color{
    color: white;
    padding: 10px 10px 10px 10px;
}



header div.TextoHeader h1{
	color:rgba(44, 44, 157, 0.96);
	line-height:1em;
	margin: 0 0 30px 0;
}
header{
/*FORMATO DE LA IMAGEN DE FONDO*/
background-image:url(../imagenes/messi.jpg);
height:400px;
background-repeat:no-repeat;
background-position:center buttom;
width:1400px ;
position:relative;
}

/*Barra de navegacion*/

nav{
	background-color:rgba(4, 6, 11, 0.9);
	position:absolute;
	top:32px; left:px;
	padding:20px 0,0,0;
	width:100%;
}

nav ul{
	list-style:none;
	margin:0;
	padding:0px;
	}



		
	nav ul li a{
		display:inline-block;
		color:#fff;
		padding:10px 20px;
		text-decoration:none;
		width:125px;
		position:relative;
		}

		nav ul li a:visited{
	color:#fff;
}
		
	nav ul li a:hover{
		color:#523cf7;	
		}
		
		
	/*PRIMER NIVEL DEL MENU*/
	
	nav > ul{
		padding-left:450px;
	}
	
     nav > ul > li{
		 float:left;
	 }	 

	
	nav::after{
		content:'';
		display:block;
		clear:;
	}
	
	nav ul ul {
		position:absolute;
		top:100%;
		background-color:black;
		display:none;
		}
		
	 nav ul ul li{
		 position:relative;
	 }
	 
	 nav ul li:hover > ul{
		 display:block;
	 }
	 
	 nav ul ul ul {
		 left:100%;
		 top:0;
		 }
		 
	 nav > ul > li > a{
		 width:auto;
		 padding:10px 20px 15px 20px;
		 }
		 
 /*PIE DE PAGINA*/
 
 
 

:{
	font-size:.8em;
	margin:40px;
	color:#fff;
    width: 15px;
}

#somos{
      width: 100%;
    margin-top: 50px;
     height: 50px;
        background-color:black;
        background-size: auto;
        bottom: 0;
        position: ;
        width: 100%;

    
    
}
footer.Contenido{
	display:inline;
      color: white;
}
#aaa{
  color: white;
    
}
#bbb{
    color: white;
}    


footer a{
	margin-left:30px;
	color:#777;
}

footer a:visited{
	color:#777;
}

footer a:hover{
	color:blue;
}


#fabrios{
    
      background-image:url(../imagenes/og-default.jpg);
        background-repeat: no-repeat;
        border-right-color: brown;
        background-size: cover;
    background-attachment: fixed;
}







.table{
  
    
    
    width:52%;
    font: normal 20px arial;
    text-align: center;
    border-collapse: collapse;
    text-align: justify;
    height: 100%;
     margin-left:10px;
    margin-right:10px;
    border: px groove ;
    padding: 2px 2px 2px 2px;
    font-family: sans-serif;
     color: white;
}

.table2{
    
    width:48%;
    font: normal 20px arial;
    text-align: center;
    border-collapse: collapse;
    
    height: 100%;
     margin-left: %;
    margin-right: %;
    border: px groove ;
    padding: 2px 2px 2px 2px;
    font-family: sans-serif;
     color: white;
}




#scale{
   width:60%;
    height:100%;
    
    
}

   
















